<!DOCTYPE html>
<html>

<head>
	<title>Inverted Index</title>

	<link rel="stylesheet" type="text/css" href="/src/public/css/style.css" />

	<script src="/src/public/js/inverted.ctr.js"></script>


	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css" />-->


</head>

<body ng-app="ngInverted">

	<!--<div ng-include="'/src/views/test.html'"></div>-->
	<!--<div ng-include="'/src/views/workOne.html'"></div>-->
	<div ng-include="'/src/views/upload.html'"></div>
	<!--<div ng-include="'/src/views/invertedTable.html'"></div>-->
	<!--ng-mouseover-->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
	<script src='https://cdn.jsdelivr.net/angular-material-icons/0.7.1/angular-material-icons.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
	<!--<script src="/src/public/js/apps.js"></script>-->
	<script src="/src/public/js/index.js"></script>
	<script src="/src/public/js/inverted.ctr.js"></script>
</body>

</html>