<!DOCTYPE html>
<html>

<head>
	<title>Inverted Index</title>
	<link rel="stylesheet" type="text/css" href="/src/public/css/style.css" />
	
</head>

<body ng-app="ngInverted">
	
	<div ng-include="'/src/views/test.html'"></div>
	<div ng-include="'/src/views/workOne.html'"></div>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<!--<script src="/src/public/js/apps.js"></script>-->
	<script src="/src/public/js/inverted.ctr.js"></script>
</body>

</html>