<!--<div id="table">

  <label for="sort"> Sort: </label>
  <select ng-model="tableSortOrder" name="sort">
      <option value="+word"> Ascending word</option>
      <option value="-word"> Descending word</option>
    </select>

  <table>
    <thead>
      <tr>
        <th> Words </th>
        <th ng-repeat="(key, index) in anything" style="color: red"> {{key}}</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat=" | orderby:tableSortOrder">
      <td>{{book.text}}</td>
      </tr>
    </tbody>
  </table>-->