<!--<<<<<<< Updated upstream-->
<div ng-controller="UploadFile">
  <button onclick="json()">click me now</button>
  <ul >
    <li> help</li>
    <li ng-repeat="batter in pasta" >{{batter}}</li>
  </ul>
</div>
<div id="ghetto"> </div>
<!--=======-->

<div ng-show="user" id="table" ng-controller="UploadFile">
    {{error}}
    <label for="sort"> Sort: </label>
    <select ng-model="tableSortOrder" name="sort">
      <option value="+word"> Ascending word</option>
      <option value="-word"> Descending word</option>
    </select>

    <table>
      <thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead><thead>
        <tr>
          <th> Words </th>
          <th ng-repeat="book in user"> {{book.title}} </th>
        </tr>
      </thead>
      <tbody>
        <!--<tr ng-repeat=" | orderby:tableSortOrder">-->
        <td>{{book.text}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-->>>>>>> Stashed changes-->

