<div ng-hide="upload" ng-controller="UploadFile">
  <div id="banner" ng-hide="showHelp">
    <div id="mainUpload">
      
      <!--HELP(HOW TO PLAY)-->
      <span class="btn"> <span class="toolTipText"> Help </span>
        <ng-md-icon class="icon" ng-click="showHelp = ! showHelp"  icon="help" style="fill: #1352A2; cursor:pointer" size="104"></ng-md-icon>
      </span>
      <!---->

      <!--UPLOAD BUTTON-->
      <label for="uploadBtn" class="btn">
        <ng-md-icon class="icon" icon="file_upload" style="fill: #1352A2; cursor:pointer" size="104"></ng-md-icon>
         <span class="toolTipText"> Upload </span>
        <input id="uploadBtn" type="file"  hidden  accept=".json" ng-model="myValue" onchange="angular.element(this).scope().collectFiles(event)"/>
        <!--<input id="uploadBtn" type="file" multiple hidden  accept=".json" onchange="uploadFile()"/>-->
        
      </label>
    </div>
  </div>
  <!---->

  <!--HOW TO USE-->
  <div ng-show="showHelp" id="help">
    <div>
      <h1>Inverted Index</h1>
      <p>
        Inverted Indexed Elasticsearch uses a structure called an inverted index, which is designed to allow very fast full-text
        searches. An inverted index consists of a list of all the unique words that appear in any document, and for each
        word, a list of the documents in which it appears. For example, let’s say we have two documents, each with a content
        field containing the following: The quick brown fox jumped over the lazy dog Quick brown foxes leap over lazy dogs
        in summer To create an inverted index, we first split the content field of each document into separate words (which
        we call terms, or tokens), create a sorted list of all the unique terms, and then list in which document each term
        appears. The result looks something like this:
      </p>
      <pre>
          Term      Doc_1  Doc_2
          -------------------------  HOW TO FORMAT JSON FILE
          quick   |       |  X       [{
          The     |   X   |     
          brown   |   X   |  X        "title": " The quick brown fox jumped over the lazy dog",
          dogs    |       |  X        "text": "Quick brown foxes leap over lazy dogs in summer"
          fox     |   X   |          }]
          jumped  |   X   |                
          lazy    |   X   |  X                                                
          leap    |       |  X                                               
          in      |       |  X                                                  
          over    |   X   |  X                                                  
          summer  |       |  X                                              
    </pre>
    </div>
  </div>
  <!---->
  
  <!--BOTTOM BAR-->
  <ul id="bottomBar">
    <li> &copy; Copyright 2017 Inverted Index PK </li>
    <li style="float:right">
      <ng-md-icon ng-click="showHelp = ! showHelp" icon="help" style="fill: #1352A2" size="20"></ng-md-icon>
    </li>
    <li style="float:right">
      <ng-md-icon ng-click="showHelp=false" icon="file_upload" style="fill: #1352A2" size="20"></ng-md-icon>
    </li>
  </ul>
</div>