<div ng-controller="UploadFile">
  <md-button class="md-raised">Hello There!</md-button>
  <form name="uploadForm" ng-submit="search()">

    <div class="upload-group">
      <p>Upload a valid json file</p>
      <div class="file-upload">
        <file-upload></file-upload>
      </div>
    </div>

    <!--<div class="search-group">
      <label for="selectBox">Choose a file(s) to search through</label>
      <select placeholder="No JSON file uploaded" name="selectBox" required id="uploaded-files">
        <option  ng-repeat="(key, data) in uploadedFiles" value="{{ key }}" > {{ key }}</option>
      </select>
      <button type="submit">Search Json</button>
======
    </div>-->

    <!--</form>
  <form name="myForm" ng-submit="">
    <input ng-model='file' type="file"/>
    <input type="submit" value='Submit'/>
  </form>-->

  <!--<button style="cursor:pointer" class="btn-default btn" accept=".json" ngf-pattern="'.json'">Upload JSON</button>-->
  <strong><p id="list"> Upload a JSON file to create an index.</p></strong>
					<p id="user-message"></p>
					<input id="file" class="btn-default btn" accept=".JSON" type="file"multiple>
					<button id="btn-create" class="btn-default btn">Create Index</button>
					<p id="user-message1"></p>
					<br>

  <label class="btn btn-info btn-lg"
      for="file-selector" ng-hide="upload" id="browse">
    <input id="file-selector" type="file"
      file-model="fileToUpload" style="display:none;"
      ngf-pattern="'application/json'"
      accept="application/json"
      />
      Browse File...
  </label>

</div>

<!--=======-->
    </div>

    <!--</form>
  <form name="myForm" ng-submit="">
    <input ng-model='file' type="file"/>
    <input type="submit" value='Submit'/>
  </form>-->

  <button style="cursor:pointer" ngf-select="uploadFiles($files)" multiple accept=".json" ngf-pattern="'.json'">Upload JSON</button>
 
</div>
<ul>
<li ng-repeat="i in user"> {{i.title}} </li>
</ul>
<!-->>>>>>> Stashed changes-->
<!--<option multiple ng-show="{{uploadedFiles.length < 1}}">No JSON file uploaded</option>-->