body {
    background: url("https://i.imgur.com/d3iE7tY.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 700px;
    overflow: auto;
}

caption {
    text-align: left;
    padding-left: 8px;
    padding-top: 3px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

#banner {
    background-color: ghostwhite;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    position: fixed;
    top: 40%;
    left: 20%;
    border-radius: 25px;
    -moz-box-shadow:      0px 12px 6px -5px black;
    -webkit-box-shadow:   0px 12px 6px -5px black;
    box-shadow:           0px 12px 6px -5px black;
}

#mainUpload {
    position: relative;
    display: inline-block;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#banner .btn {
    position: relative;
}

#uploadBtnTable {
    background: #077AFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#66B0FA, #077AFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#66B0FA, #077AFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#66B0FA, #077AFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#66B0FA, #077AFF);
    border: none;
    border-radius: 5px;
    -moz-box-shadow:      0px 6px 10px -5px black;
    -webkit-box-shadow:   0px 6px 10px -5px black;
    box-shadow:           0px 6px 10px -5px black;

    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 7px;
    cursor: pointer;
}

table { 
    border-collapse: collapse;
    max-height: 110%;
    overflow-y: scroll;
    display: block;
    position: relative;
    padding-bottom: 3px;
}

#allTable {
    max-height: 110%;
    overflow: hidden;
    overflow: scroll;
}


tr:nth-of-type(odd) { 
  background: navajowhite; 
}
th { 
  background: #333; 
  color: ghostwhite; 
  font-weight: bold;
  width: 10% 
}
td, th { 
  padding: 6px; 
  border: 1px solid navajowhite; 
  text-align: left; 
}

td {
  font-size: 20px;
}

tr td:not(:first-child) { 
    text-align: center;
}

#tableInner {
    height: 80%;
    position: relative;
}

label span {
    font-family: 'Orbitron', sans-serif;
}

#table {
    background-color: whitesmoke;
    border: 2px solid saddlebrown;
    position: absolute;
    top: 49%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -47%);
    width: 80%;
    border-radius: 13px;
    -moz-box-shadow:     0 0 20px #000000;
    -webkit-box-shadow:  0 0 20px #000000;
    box-shadow:          0 0 20px #000000; 
    padding: 15px;
    padding-top: 5px;
    min-width: 82%;
    height: 80%;
    z-index: -90;
}

#table ul {
    list-style: none;
    
}
#mainUpload ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#table li {
    padding-bottom:  5px;
    display: inline-block;
    overflow: auto;
    text-align: center;
}

h3 {
    padding: 0px;
    margin: 0px;
    left: -50%;    
    display: block;
}

#help {
    background-color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 13px;
    -moz-box-shadow:     0 0 20px #000000;
    -webkit-box-shadow:  0 0 20px #000000;
    box-shadow:          0 0 20px #000000; 
    padding: 15px;
    padding-top: 5px;
    min-width: 730px;
}

#topBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ghostwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#topBar li {
    /*font-family: 'VT323', monospace;*/
    /*font-family: 'Black Ops One', cursive;*/
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}

#bottomBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ghostwhite;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#bottomBar li {
    font-family: 'Orbitron', sans-serif;
    float: left;
    color: black;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    align-items: center;
    position: relative;
    align-items: center
}

#bottomBar li span {
    display: inline-block;
    top: 50%;
    transform: translate(0, -60%); 
}

#smallHelpBtn {
    display: inline-block;
    top: 50%;
    transform: translate(0, 17%);
}

.btn {
    padding: 0px 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn .toolTipText {
    visibility: hidden;
    background-color: #FFD464;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;

    /* Position of the tooltip */
    position: absolute;
    display: inline-flex;
    z-index: 5;
    top: 18px;
    left: 28%; 
    transform: translate(-50%, -50%);
    -moz-box-shadow:      0 0 10px #000000;
    -webkit-box-shadow:   0 0 10px #000000;
    box-shadow:           0 0 10px #000000; 
    font-family: 'Orbitron', sans-serif;
}

.btn:hover .toolTipText {
    visibility: visible;
}

#head a{
    color: black;
}

#searchError {
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    margin: 0px;
    position: absolute;
    z-index: 5;
    top: 3%;
    left: 50%;
    visibility: hidden;
    background-color: white;
    font-family: 'VT323', monospace, serif;
}

#createError , #createNoError{
    font-family: 'VT323', monospace, serif;
    visibility: hidden;
}